*{margin: 0; padding: 0;}

img {
    width: 100%;
    filter: grayscale(1.0);
}

img:hover {
    filter: none;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content .picture-block {
    width: 25%;
    padding: 4px;
} 

.content .picture-block-x2 {
    width: 50%;
    padding: 4px;
}