*{margin: 0; padding: 0;} 
@font-face {
    src: url("./fonts/Roboto-Bold.ttf");
    font-family: "Roboto-Bold";
}
@font-face {
    src: url("./fonts/Roboto-Light.ttf");
    font-family: "Roboto-Light";
}
@font-face {
    src: url("./fonts/Roboto-Thin.ttf");
    font-family: "Roboto-Thin";
}

*{margin: 0; padding: 0;} 

.parent {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 3px;
    perspective: 600px;
    margin: auto;
    top: 60px;
}

.front-face {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 17px;
    text-align: center;
    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border: 1px solid #b9a2a236;
}

.parent:hover .front-face {
    transform: rotateY(180deg)
}

img.avatar {
    width: 100%;
    height: 75%;
    border-radius: 50%;
    border: 4px solid #c2c2d46e;
    box-shadow: 0 0 1px 3px #928b94ad;
    margin-bottom: 6px;
}

h4.name {font-family: "Roboto-Bold";}

.back-face {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    background: #ff6c00;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    color: white;

}

h4.backname {
    font-family: "Roboto-Thin";
    font-size: 26px;
}

p {
    font-family: "Roboto-Thin";
    font-size: 14px;
}

.parent:hover .back-face {
    transform: rotateY(0deg);
}

i.fab {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(255, 252, 252);
    padding: 0.5em 0.6em;
    margin-left: 1px;
}
.linkProfile {
    margin-top: 5px;
}

i p {
    display: inline;
    font-family: "Roboto-Thin";
    margin-left: 2px;
    font-size: small;
}